<div class="hero-unit">
	<h1>Welcome to Maidster!</h1>

	<p>
		You point we clean!
		<%= link_to "Maidster", "http://maidster.com" %>
	</p>

	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>